<div class="customer">
  <%= image_tag customer.image, class: 'image' if customer.image.attached? %>
  <h2><%= customer.full_name %></h2>
  <p><strong>Phone:</strong> <%= customer.phone_number %></p>
  <p><strong>Email:</strong> <%= customer.email_address.presence || "No email provided" %></p>
  <p><strong>Notes:</strong> <%= customer.notes %></p>
</div>

